<!-- accept
L O C I S: +LIBRARY OF CONGRESS INFORMATION SYSTEM
-->

<!-- match
[^\n]+
[^\n]+
[^\n]+
[^\n]+
(.*?)Choice: (\{.*?\})
-->


<style>
.h3270-input {
  background-color:lightgrey;
  border-width: 0pt;
}

table.locis {
  background-color: white;
  font-family: freesans, arial;
}
</style>

<table class="locis" width=650 height=500 
       style="background-image:url(/h3270/images/locis-main-background.jpg);
       background-position:top right; background-repeat:no-repeat">

<tr>
  <td valign=top align=left colspan=2 style="padding-top:7px; font-size:12pt;">
    <b>L O C I S : Library of Congress Information System</b>
  </td>
</tr>

<tr>
  <td valign=top align=left style="height:200px;padding-top:60px;padding-left:20px;">
    To make a choice:<br>type a number,<br>then press ENTER
  </td>
  <td width=60%>&nbsp;
  </td>
</tr>

<tr>
  <td align=center valign=top colspan=2>
    <table class=locis width=80%>
      #1{org.h3270.sites.locis.MainMenuFilter}

      <tr>
        <td>&nbsp;</td>
        <td style="padding-top:10px;" colspan=2>Choice: #2</td>
      </tr>

    </table>
  </td>
</tr>

</table>
