body,table,td,tr,div,p,pre,h1,h2,h3,h4,ul {font-family: Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;}
body,td,div,p,pre,ul {font-size: 13px;}

h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 13px;}

.huge     {font-size: 32px;}
.small    {font-size: 12px;}
.mini     {font-size: 11px;}
.minimini {font-size: 10px;}

.menu { padding-top:30px;
        padding-left:30px; }

.content { padding-top:30px;
           padding-right:30px; }
           

a  {font-size: 13px; text-decoration: none; font-weight : bold;}
a:link    {color:#ff8c00}
a:visited {color:#804000}
a:active  {color:#ff8c00}
a:hover   {color:#ff8c00}
