<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>org.h3270.web.Servlet</servlet-class>
    <init-param>
      <param-name>file.configuration</param-name>
      <param-value>/WEB-INF/h3270-config.xml</param-value>
    </init-param>
  </servlet>
	
  <servlet>
    <servlet-name>style</servlet-name>
    <servlet-class>org.h3270.web.StyleServlet</servlet-class>
    <init-param>
      <param-name>file.configuration</param-name>
      <param-value>/WEB-INF/h3270-config.xml</param-value>
    </init-param>
  </servlet>
	
  <servlet-mapping>
    <servlet-name>
      servlet
    </servlet-name>
    <url-pattern> /servlet </url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>
      style
    </servlet-name>
    <url-pattern> /style </url-pattern>
  </servlet-mapping>

  <!-- Uncomment the following to set the timeout after which h3270  -->
  <!-- will disconnect from the host, in minutes.                    -->

  <!-- 
      <session-config>
        <session-timeout>60</session-timeout>
      </session-config>
   -->

  <!-- When using the h3270 Portlet, some portlet containers may      -->
  <!-- require that you uncomment the following (this is needed, for  -->
  <!-- example, on WebSphere Portal Server 5.1):                      -->

  <!--
      <taglib id="PortletTLD">
         <taglib-uri>http://java.sun.com/portlet</taglib-uri>
         <taglib-location>/WEB-INF/tld/std-portlet.tld</taglib-location>
      </taglib>
  -->

</web-app>
